@import 'reset';
@import './fonts';
@import './variables/global';
@import './themes/light';
@import './themes/dark';

html {
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-inter);
  font-size: var(--font-size-lg);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);

  &__content {
    display: flex;
  }

  &__page {
    flex-grow: 1;
    min-width: 0;
  }
}

.icon {
  pointer-events: none;

  display: inline-block;
  flex-shrink: 0;

  color: inherit;
  vertical-align: top;

  fill: currentcolor;
}
