@import 'reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';

.app {
  min-height: 100vh;

  font: var(--font-m);
  color: var(--primary-color);

  color-scheme: var(--color-scheme);
  background-color: var(--bg-color);
}

.app-content {
  display: flex;
}

.app-page {
  flex-grow: 1;
  padding: 16px;
}