# dependencies
/node_modules

# production
/dist

# ide
.idea

# storybook
/storybook-static
*storybook.log
build-storybook.log

# chromatic
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json

# loki
.loki/report.html
.loki/report.json

# env
.env
