.sidebar {
  position: relative;

  flex-shrink: 0;

  width: 300px;
  min-height: calc(100vh - 60px);
  padding: 16px;

  background-color: var(--secondary-color);

  transition: width 0.3s;
}

.nav {
  display: grid;
  gap: 8px;
  justify-content: flex-start;
}

.collapsed {
  width: 80px;
}

.switchers {
  position: absolute;
  bottom: 16px;
  left: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.toggle {
  position: absolute;
  z-index: 1;
  right: -40px;
  bottom: 16px;

  background-color: var(--secondary-color);
  border-radius: 0;
}
