.sidebar {
  width: 300px;
  height: calc(100vh - 56px);
  background-color: var(--secondary-color);
  position: relative;
  padding: 16px;
  transition: width 0.3s;
}

.collapsed {
  width: 80px;
}

.switchers {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}