.sidebar {
  position: relative;

  width: 300px;
  height: calc(100vh - 56px);
  padding: 16px;

  background-color: var(--secondary-color);

  transition: width 0.3s;
}

.nav {
  display: grid;
  gap: 8px;
  justify-content: flex-start;
}

.navLink {
  font-size: 20px;

  &:hover,
  &:focus-visible {
    color: black;
    transition: color 0.3s ease-in-out;
  }
}

.collapsed {
  width: 80px;

  .label {
    display: none;
  }
}

.switchers {
  position: absolute;
  bottom: 16px;
  left: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.toggle {
  position: absolute;
  right: -40px;
  bottom: 16px;

  background-color: var(--secondary-color);
  border-radius: 0;
}
