.appLink {
  display: inline-flex;
  gap: 8px;
  align-items: center;

  padding: 5px;

  color: var(--interactive-color);
  vertical-align: top;

  transition: color 0.3s ease-in-out;
}

.underlineNone {
  text-decoration: none;
}

.underlineHover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
